/*all state wise background image*/
.bodyunion{
    background-image: url(unionteratory.png);
    background-size: 1500px 710px;
    background-repeat: no-repeat;
}
.bodywest{
    background-image: url(westindia.png);
    background-size: 1500px 710px;
    background-repeat: no-repeat;
}
.bodynorth{
    background-image: url(northindia.png);
    background-size: 1500px 710px;
    background-repeat: no-repeat;
}
.bodysouth{ 
    background-image: url(southindia.png);
    background-size: 1500px 710px;
    background-repeat: no-repeat;
}
.bodynortheast{
    background-image: url(norteastindia.png);
    background-size: 1500px 710px;
    background-repeat: no-repeat;
}
.bodycentral{
    background-image: url(centralindia.png);
    background-size: 1500px 710px;
    background-repeat: no-repeat;
}
.bodyeast{
    background-image: url(eastindia.png);
    background-size: 1500px 900px;
    background-repeat: no-repeat;
}
/*end of background state wise image/
/* start upper header css*/
.headerhome{
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
}

.navhome .ulhome {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navhome .ulhome .homeli {
    display: inline-block;
    margin-right: 20px;
}

.navhome .ulhome .homeli .ahome {
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 15px;
}
/* end of upper header css*/
.headernorth {
    color: #000000;
    padding: 20px;
    text-align: center;
    background-color: rgb(236, 234, 234);
    
}

.taketripnav  .ultaketriphome {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.taketripnav .ultaketriphome .taketripli {
    display: inline-block;
    margin-right: 20px;
    
}

.taketripnav .ultaketriphome .taketripli .taketripa{
    text-decoration: none;
    color: black;
    font-size: 15px;
    padding: 15px;
    
}

/* drop down list css*/
/* this is for drop down tour destination*/
.dropdown-content-north {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.northdropdown:hover .dropdown-content-north {
    display: block;
}
.northdropdown:hover{
    cursor: pointer;
}
.dropdown-content-north .anorth {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-north .anorth:hover {
    background-color: #f1f1f1;
}
